[class^=icon-]{
  display: inline-block;vertical-align: middle;background-repeat: no-repeat;background-position: 50% 50%;background-size: contain;
}

.icon-no-img{background-image: url('../images/icon-no-img.png'); width: 30px; height: 30px;}