@font-face {
  font-family: 'NanumSquare';
  font-weight: 400;
  src: url('../fonts/NanumSquare/NanumSquareRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 700;
  src: url('../fonts/NanumSquare/NanumSquareBold.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquare';
  font-weight: 900;
  src: url('../fonts/NanumSquare/NanumSquareExtraBold.ttf') format('truetype');
}