@font-face {
  font-family: "Aventa";
  font-weight: 300;
  src: url("/src/html/webview/font/aventa/Aventa-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Aventa";
  font-weight: 400;
  src: url("/src/html/webview/font/aventa/Aventa-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Aventa";
  font-weight: 500;
  src: url("/src/html/webview/font/aventa/Aventa-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Aventa";
  font-weight: 700;
  src: url("/src/html/webview/font/aventa/Aventa-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Aventa";
  font-weight: 700;
  src: url("/src/html/webview/font/aventa/Aventa-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquareOTFB";
  font-weight: 400;
  src: url("/src/html/webview/font/NanumSquare/NanumSquareOTFB.otf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wrap {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
}

.header {
  margin: 0 0 10px 20px;
}
.header h1 {
  width: 100%;
  font-family: Aventa;
  font-size: 30px;
  font-weight: 900;
  color: #fff;
}

.main-img {
  margin-bottom: 20px;
  width: 100%;
}
.main-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.title .title-text {
  width: 100%;
  padding: 0 20px 10px 20px;
  font-family: Aventa;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.25;
  letter-spacing: normal;
  color: #fff;
}
.title .title-date {
  width: 100%;
  padding: 0 0 20px 20px;
  font-family: Aventa;
  font-size: 14px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
}
.title .title-line {
  width: 100%;
  height: 2px;
  padding: 0 20px;
}
.title .title-line .line {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.production-title {
  color: #fff;
  margin-left: 20px;
  font-size: 22px;
  font-weight: 900;
  font-family: Aventa;
}

.button-shop {
  margin-top: 30px;
  padding: 0 20px 30px 20px;
}
.button-shop .button-text {
  border: 0;
  width: 100%;
  height: 50px;
  background-color: #d2c8ff;
  text-align: center;
  line-height: 50px;
}
.button-shop .button-text a {
  font-family: Aventa;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  color: #000;
  text-decoration: none;
}

.button-event {
  padding: 0 20px 30px 20px;
}
.button-event .button-text {
  border: 0;
  width: 100%;
  height: 50px;
  background-color: #00ddf2;
  text-align: center;
  line-height: 50px;
}
.button-event .button-text a {
  font-family: NanumSquareOTFEB;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: center;
  color: #000;
  text-decoration: none;
}

.footer {
  height: 60px;
  color: #fff;
  text-align: center;
  background-color: #1a1a1a;
}
.footer img {
  width: 78px;
  height: 12px;
  margin-top: 16px;
}
.footer .footer-text {
  margin: 5px 0 16px;
  opacity: 0.5;
  font-family: Aventa;
  font-size: 9px;
  font-weight: 900;
  color: #fff;
}

.detail-img {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}
.detail-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-scroll {
  overflow-x: auto;
  width: 100%;
  height: 100%;
  padding: 20px 20px 10px 20px;
}
.img-scroll img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.img-scroll ul {
  display: flex;
  gap: 10px;
}
.img-scroll .title {
  width: 200px;
  margin: 10px 0 0;
  font-family: Aventa;
  font-size: 12px;
  font-weight: 900;
  color: #fff;
}/*# sourceMappingURL=webview.css.map */